@model TeamOrganizer.Models.TaskModel
@{
    ViewBag.Title = "Stwórz nowe zadanie";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <h2>@ViewBag.Message</h2>
</div>
    @using (Html.BeginForm())
    {
        <div>
            You have submitted:<br />
            Opis: @ViewBag.opis<br />
            Data: @ViewBag.koniec<br />
            Punkty: @ViewBag.punkty<br />
            status: @ViewBag.status<br />
            Data startu: @ViewBag.datastart<br />
            ID: @ViewBag.id<br />
        </div>
        <br/>

        <label for="description">Opis:</label>
        <input type="text" name="description" />
        <br />
        <label for="startdate">Data rozpoczęcia:</label>
        <input type="text" name="startdate" />
        <br />
        <label for="duration">Czas trwania:</label>
        <input type="text" name="duration" />
        <br />
        <label for="points">Punkty:</label>
        <input type="text" name="points" />
        <br />
        <br />

        <input type="submit" name="submit" value="Zapisz" />
    }
</body>
</html>